#wrapper {
    display: inline-block;
}
#text_c1 {
    width: 390px;
    min-height: 40px;
    display: inline-block;
    padding: 5px;
    margin: 0 6px 15px 0;
    float: left;
}
#text_c2 {
    width: 390px;
    min-height: 40px;
    display: inline-block;
    padding: 5px;
    margin: 0 6px 15px 0;
    float: left;
    right: 0;
}