#wrapper {
	display: grid;
	grid-template-columns: auto auto;
}

#results-draw, #results-c1, #results-c2 {
	width: 390px;
	min-height: 40px;
	display: inline-block;
	padding: 5px;
	margin: 0 6px 15px 0;
	float: left;
}

#canvasControls {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

#voteButtons, #voteScore {
	display: inline-block;
}

#drawC, #c1, #c2 {
	border: 1px solid black;
}

#chat {
	overflow-y: auto;
	width: 300px;
	height: 200px;
	word-break: break-word;
	border: 1px solid black;
}

#displayCanvas {
	display: grid;
	grid-template-columns: auto auto;
}

#grid {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#vote1, #vote2 {
	width: 100px;
}
