<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Game</title>
		
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.js"></script>
		<script src="/game.js"></script>
	</head>
	
	<body>
		<h3>You're in Game $id</h3>
		
		<div id="timer">not running</div>
		<button id="start">start</button>
		
		
		<br>
		<div id="chat"></div>
		<br>
		
		<input id="messageBox" placeholder="Type your message">
		<button id="send">Send</button>

		<!-- TODO incorporate? -->
		<!-- <ul id="userList"></ul> -->
		
		<!-- used to tell the javascript what game we're in -->
		<!-- could probably also get the url to tell -->
		<div id="gameId" style="display:none">$id</div>
	</body>
</html>
